.chat {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  padding: var(--main-padding);
}
.messages {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;

  .message {
    width: 50%;
    margin-bottom: 10px;
    padding: var(--main-padding);
    border-radius: var(--border-radius);
    background-color: var(--message-bg-color);

    &.answerMessage {
      background-color: var(--message-answer-bg-color);;
      align-self: flex-end;
    }
  }
}

.text {
  margin: 0;
  color: var(--message-text-color);
  font-size: var(--text-secondary-size);
}

.answerSection {
  display: flex;
  flex-flow: column nowrap;

  .possibleAnswer {
    margin-bottom: 5px;
    border-radius: var(--border-radius);
    background-color: var(--possbleAnswer--bg-color);
    padding: var(--main-padding);
    cursor: pointer;

    .text {
      text-align: center;
      font-weight: bold;
      font-size: var(--text-primary-size);
    }
  }
}
