.container {
  width: 820px;
  height: 530px;
  background-color: #282A37;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.title {
  color: #BC93F8;
  font-size: 12px;
}

.workplaceWrapper {
  display: flex;
  justify-content: space-between;
  height: calc(530px - 25px);
}

//.navigation {
//  display: flex;
//  height: 30px;
//  .hamburger {
//    width: 50px;
//  }
//  .search {
//    background-color: #2C2D3A;
//    border: 1px solid #373948;
//    width: 190px;
//  }
//}
