:root {
  /**
      Font-Size
   */
  --text-main-size: 14px;
  --text-secondary-size: 12px;
  --text-primary-size: 16px;

  /**
      Colors
   */
  --message-text-color: #ffffff;
  --message-bg-color: #44475A;
  --message-answer-bg-color: #6071A6;
  --possbleAnswer--bg-color: #48516d;

  /**
      Indents
   */
  --main-padding: 10px;

  /**
      Other
   */
  --border-radius: 5px;
  --hover-user-color: #44475A;
}
